<launch>
    <!-- <node pkg="guidance" type="guidanceNode" name="guidanceNode"/> -->
    <!-- <node pkg="guidance" type="guidanceNodeCalibration" name="guidanceNodeCalibration"> -->
		<param name="left_param_file" value="$(find guidance)/calibration_files/camera_params_left.yaml" />
		<param name="right_param_file" value="$(find guidance)/calibration_files/camera_params_right.yaml" />
    <!-- </node> -->
</launch>
<!-- TODO nodes, if launched, don't run somehow.  -->
